---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import YamlShowcase from "../components/YamlShowcase.astro";
import EditorShowcase from "../components/EditorShowcase.astro";
import TemplateGallery from "../components/TemplateGallery.astro";
import SyncAndSafety from "../components/SyncAndSafety.astro";
import GettingStarted from "../components/GettingStarted.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <YamlShowcase />
    <EditorShowcase />
    <TemplateGallery />
    <SyncAndSafety />
    <GettingStarted />
  </main>
  <Footer />
</Layout>
